@import "@/src/styles/global.scss";

.container {
  border-radius: 12px;
  background-color: yellow;
  width: 351px;
  height: 450px;

  @include tablet {
    width: 680px;
    height: 677px;
  }

  @include desktop {
    width: 964px;
    height: 356px;
  }
}
