@import '/src/styles/global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  padding: 40px 0;
  width: 100%;

  @include tablet {
    padding: 60px 0;
  }

  &.gray {
    background-color: $color-gray0;
    padding: 40px 0 80px;
  }
  @include tablet {
    padding: 60px 0 120px;
  }
}
