@import '@/src/styles/global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid $color-gray30;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  width: 351px;

  @include tablet {
    width: 680px;
  }

  @include desktop {
    width: 964px;
  }
}
