@import '/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $color-red10;
  height: 38.1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  overflow: hidden;

  @include tablet {
    height: 53.5rem;
    padding: 6rem 3.2rem;
  }
}

.title-container {
  display: flex;
  width: 100%;
  max-width: 96.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.8rem;
  }
}

.noticesList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.4rem;
  margin-top: 1rem;
  // overflow-x: auto; /* 수평 스크롤 활성화 */
  // scroll-behavior: smooth; /* 스크롤이 부드럽게 이동 */

  @include tablet {
    max-width: 96.5rem;
    max-height: 41.5rem;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto; /* 수평 스크롤 활성화 */
  scroll-behavior: smooth; /* 스크롤이 부드럽게 이동 */
  width: 100%;
  // /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
