@import '@/src/styles/global.scss';

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @include tablet {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
  }

  @include desktop {
    padding: 14px 0;
    font-size: 16px;
    line-height: 20px;
  }

  &.primary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: white;
  }

  &.white {
    border: 1px solid $color-primary;
    background-color: white;
    color: $color-primary;
  }

  &.gray {
    border: 1px solid $color-gray40;
    background-color: $color-gray40;
    color: white;
  }
}
