@import '@/src/styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.is-end {
  pointer-events: none; // Disable clicks
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 171px);
  grid-template-rows: repeat(3, 261px);
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  column-gap: 9px;
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(2, 332px);
    grid-template-rows: repeat(3, 359px);
    row-gap: 32px;
    column-gap: 14px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 312px);
    grid-template-rows: repeat(2, 349px);
    max-width: 964px;
  }
}
